# Ignore VSCODE configuration
.vscode/

# Ignore folders
func_test/
execute/

# Ignore object files
obj/

# Ignore Makefile made by CMake
# for both
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

# for Linux
Makefile
makefile

# for Windows
.vs
Debug/
proj_r.dir/
Release/
x64/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Ignore result of test code
x_inlier.dvec
y_inlier.dvec
inlier_data.dvec
inlier_data.csv
x_outlier.dvec
y_outlier.dvec
outlier_data.dvec
outlier_data.csv
result_plot.bmp
proj_r

# Ignore compiled files
*.o
*.exe